<html xmlns:th="https://thymeleaf.org">
<header>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../static/css/home.css" th:href="@{/css/login.css}" rel="stylesheet" />
	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/home.js"></script>
</header>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">TMS</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse tms-login-nav-div" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
					</ul>
					<span>
						<a class="nav-link" href="/register">Singup</a>
					</span>
				</div>
			</div>
		</nav>
		<div class="row login-main-page">
			<div class="col-sm-6">
				<div class="loginInfoDiv" id="loginInfoDiv"></div>
			</div>
			<div class="col-sm-6 login-page">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8 login-form">
						<form th:action="@{/login}" method="POST">
							<div class="mb-3 mt-3">
								<label for="email" class="form-label">username:</label>
								<input type="text" class="form-control" id="username" placeholder="Enter Username"
									name="username">
							</div>
							<div class="mb-3">
								<label for="pwd" class="form-label">Password:</label>
								<input type="password" class="form-control" id="password" placeholder="Enter password"
									name="password">
							</div>
							<div>
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-primary">reset</button>
							</div>
							<span style="color:red;text-align:center" th:if="${param.error}">Invalid Login detials
								(authentication
								failed)</span>
							<span style="color:red;text-align:center" th:if="${param.logout}">User Logged succefully
							</span>
						</form>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>